<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <style>
        @font-face { font-variant-ligatures: discretionary-ligatures;font-family: 'ean13'; src: url('../fonts/ean13.woff'); }
        .barcodeS { font-variant-ligatures: discretionary-ligatures;font-family: 'ean13'; font-size:60px;margin:5px} /* 1 bar is 1px whide */
        .barcodeM { font-variant-ligatures: discretionary-ligatures;font-family: 'ean13'; font-size:120px;margin:5px } /* 2 bar is 1px whide */
        .barcodeL { font-variant-ligatures: discretionary-ligatures;font-family: 'ean13'; font-size:181.8181818181818px;margin:5px } /* 3 bar is 1px whide */
        .barcodeXL { font-variant-ligatures: discretionary-ligatures;font-family: 'ean13'; font-size:240px;margin:5px } /* 4 bar is 1px whide */
    </style>
    <style>
        body {
            font-size: 12pt;
        }
        .item-list {
        }
        .item-list-page {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .item {
            width: 33.33%;
            padding: 0 .2em 1em;
            box-sizing: border-box;
        }
        .item-name {
            text-align: center;
            font-size: 1.3em;
        }
        .item-barcode {
            text-align: center;
        }
        .item-eac td:nth-child(1) {
            text-align: center;
        }
        .item-eac td:nth-child(1) img {
            max-height: 24pt;
        }
    </style>
    <style type="text/css" media="print">
        @page {
            size: landscape;
        }

        .page-break {
            display: block;
            page-break-after: always;
        }
    </style>
    <script>
        var gug = ["LLLLLL","LLGLGG","LLGGLG","LLGGGL","LGLLGG","LGGLLG","LGGGLL","LGLGLG","LGLGGL","LGGLGL"]
        function updatebarcode(txt){
            // Left Block
            var first = txt[0]
            var enc = "_"+first+"*"
            var max = ((txt.length<7)? txt.length:7)
            for(var i = 1;i< max;i++){
                enc+=gug[first][i-1]+txt[i]
            }
            enc+="**"
            // Right Block
            var max = ((txt.length<12)? txt.length:12)
            for(var i = 7;i<  max;i++){
                enc+="R"+txt[i]
            }
            pr = 0
            //Checksum
            for(var i= Math.min(txt.length,12);i>=1;i--){
                pr+=parseInt(txt[i-1])*(i%2==1?1:3)
            }
            pr=(10-(pr%10))%10
            enc+="R"+pr
            enc+="*"

            return enc;
        }
        function updateBarcodeAll() {
            var all = document.querySelectorAll('.item-barcode');
            for (var i =0; i < all.length; i++) {
                all[i].innerHTML = updatebarcode(all[i].innerHTML);
            }
        }
    </script>
</head>
<body onload="updateBarcodeAll()">
<div class="item-list">