<?php
/** @var array $item  */
/** @var integer $index  */
?>
<?php if ($index % 6 === 0) { ?>
    <?php if ($index ) { ?>
        </div>
        <div class="page-break"></div>
    <?php } ?>
    <div class="item-list-page">
<?php } ?>
<div class="item">
    <table width="100%" border="0">
        <tr>
            <td colspan="2" class="item-name">
                <?= implode(', ', array_filter([
                    $item[COLUMN_NAME],
                    $item[COLUMN_SELLER_SKU],
                    $item[COLUMN_COLOR],
                ]))

                ?>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="item-barcode barcodeM"><?= $item[COLUMN_BARCODE] ?></td>
        </tr>
        <tr>
            <td>Дата изготовления</td>
            <td><?= $item[COLUMN_CREATED] ?></td>
        </tr>
        <tr>
            <td>Наименование</td>
            <td><?= $item[COLUMN_NAME] ?></td>
        </tr>
        <tr>
            <td>Производитель</td>
            <td><?= $item[COLUMN_VENDOR] ?></td>
        </tr>
        <tr>
            <td>Страна пр-ва</td>
            <td><?= $item[COLUMN_COUNTRY] ?></td>
        </tr>
        <tr>
            <td>Состав</td>
            <td><?= $item[COLUMN_COMPOSITION] ?></td>
        </tr>
        <tr class="item-eac">
            <td><img src="../images/eac.jpg"/<></td>
            <td><?= $item[COLUMN_EAC] ?></td>
        </tr>

    </table>
</div>

